@media (min-width: 480px) {
    /* История переводов */
    .history-header-characters-per-day {
        display: flex;
        gap: 5px;
    }

    /* Подвал */
    .footer-wrapper {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 5px 20px;
    }
}

@media (min-width: 720px) {
    /* Форма переводчика */
    .translator-wrapper {
        margin: 23px auto 0 auto;
        max-width: 700px;
    }

    .translator-selection {
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }

    .translator-fields {
        display: flex;
        justify-content: space-between;
    }

    .translator-input,
    .translator-output {
        flex-grow: 1;
        min-height: 300px;
        padding: 10px 25px;
        background-color: var(--var-header-bg);
    }

    .translator-input {
        margin: 0;
        border-bottom-left-radius: 12px;
        border-right: 1px solid var(--var-header-bd);
    }

    .translator-output {
        border-bottom-right-radius: 12px;
    }

    /* История */
    .history-wrapper {
        margin: 12px auto;
        max-width: 600px;
    }

    .history-record-header p:first-child {
        font-size: 13px;
    }

    .history-record-header p:last-child {
        font-size: 14px;
    }
}

@media (min-width: 850px) {
    /* Форма переводчика */
    .translator-wrapper {
        max-width: 800px;
    }

    /* История */
    .history-wrapper {
        max-width: 700px;
    }
}

@media (min-width: 1080px) {
    /* Форма переводчика */
    .translator-wrapper {
        max-width: 900px;
    }

    /* История */
    .history-wrapper {
        max-width: 800px;
    }
}

@media (min-width: 1280px) {
    /* Форма переводчика */
    .translator-wrapper {
        max-width: 1200px;
    }
}