/* Переменные для смены темы */
:root {
    --var-body-bg: #f1f6f9;
    --var-header-bg: #ffffff;
    --var-header-bd: #dee4e7;
    --var-translator-fc: #222c31;
    --var-active-button: #f7f9f9;
    --var-active-texarea-bd: #d9497e;
    --var-history-header-fc: #5d5b5b;
    --var-amount-characters-fc: #e10455;
}

.dark {
    --var-body-bg: #1a1a1a;
    --var-header-bg: #333333;
    --var-header-bd: #444444;
    --var-translator-fc: #cfcfcf;
    --var-active-button: #4a4a4a;
    --var-active-texarea-bd: #ff79c6;
    --var-history-header-fc: #bbbbbb;
    --var-amount-characters-fc: #e794b4;
}

/*Обнуление стилей браузеров.
  Значения по умолчанию*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: 100%;
    width: 100%;
    line-height: 1;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: "Consolas", serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--var-body-bg);
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/* Заголовок */
.header {
    background-color: var(--var-header-bg);
    border-bottom: 1px solid var(--var-header-bd);
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1280px;
    padding: 10px 10px;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 5px
}

.header-logo img {
    width: 36px;
    height: 36px;
}

.header-logo p {
    font-size: 18px;
    color: #e10455;
    font-weight: 700;
}

.header-site-theme img {
    width: 28px;
    height: 28px;
    cursor: pointer;
    transition: transform .5s linear;
}

/* Анимация кнопки смены темы */
.header-site-theme img:hover {
    transform: translateY(20%);
}

.header-site-theme button {
    background: transparent;
}

.site-theme-dark {
    display: none;
}

.site-theme-light {
    display: none;
}

.show-img {
    display: block;
}

/* Контент часть */
main {
    flex: 1 1 auto;
    background-color: var(--var-body-bg);
}

/* Форма перевода текста */
.translator {
    margin: 0 auto;
    max-width: 1280px;
}

.translator-selection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: var(--var-header-bg);
    border-bottom: 1px solid var(--var-header-bd);
}

.translator-selection button {
    background: transparent;
}

.selection-input-language-wrapper,
.selection-output-language-wrapper {
    position: relative;
}

.selection-input-language-list,
.selection-output-language-list {
    padding: 5px 0;
    font-size: 16px;
    border-radius: 6px;
    color: var(--var-translator-fc);
    background-color: var(--var-header-bg);
}

.selection-input-language-list option,
.selection-output-language-list option {
    font-size: 16px;
    font-weight: 100;
    color: var(--var-translator-fc);
    background-color: var(--var-header-bg);
}

.selection-swap-languages {
    border-radius: 6px;
}

.selection-input-language-list:hover,
.selection-output-language-list:hover,
.selection-swap-languages:hover {
    background-color: var(--var-active-button);
}

.translator-fields textarea {
    overflow: hidden;
    resize: none;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 15px;
    font-size: 24px;
    color: var(--var-translator-fc);
    background-color: var(--var-header-bg);
}

.translator-fields .translator-input:hover,
.translator-fields .translator-output:hover {
    border: 1px solid var(--var-active-texarea-bd);
}

.translator-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    background-color: var(--var-header-bg);
}

.translator-input-info {
    display: flex;
    justify-content: end;
    align-items: end;
    flex: 1;
    padding: 0 5px 5px 0;
}

.translator-input-info p {
    color: var(--var-translator-fc);
}

.translator-output {
    background-color: var(--var-header-bg);
}

/* История переводов */
.history {
    margin: 20px auto;
    max-width: 900px;
    width: auto;
}

.history-show {
    display: flex;
    justify-content: center;
}

.history-show-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    border: 1px solid var(--var-header-bd);
    border-radius: 50%;
    background-color: var(--var-header-bg);
}

.history-show-button:hover {
    background-color: var(--var-active-button);
}

.history-show-button svg {
    width: 34px;
    height: 34px;
}

.history-wrapper {
    display: none;
    margin-top: 10px;
    border-radius: 12px;
    border: 1px solid var(--var-header-bd);
    background-color: var(--var-header-bg);
}

.show {
    display: block;
    transform: translateY(150%);
    animation: move-up 0.8s forwards;
}

@keyframes move-up {
    0% {
        transform: translateY(150%);
    }
    100% {
        transform: translateY(0);
    }
}

.history-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    border-bottom: 1px solid var(--var-header-bd);
}

.history-header-characters-per-day p {
    color: var(--var-amount-characters-fc);
    font-weight: 700;
}

.history-delete-all-button {
    padding: 4px 5px;
    color: #ffffff;
    border-radius: 12px;
    background-color: #e10455;
}

.history-records {
    display: flex;
    flex-direction: column;
}

.history-record {
    border-bottom: 1px solid var(--var-header-bd);
}

.history-record:last-child {
    border-bottom: none;
}

.history-record-header {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px 0 10px;
}

.history-record-header p {
    color: var(--var-history-header-fc);
    font-size: 12px;
}

.history-record-delete-button {
    background-color: var(--var-header-bg);
}

.history-record-delete-button img {
    width: 18px;
    height: 18px;
}

.history-record-body {
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 5px 10px;
}

.history-record-input-text,
.history-record-output-text {
    word-wrap: break-word;
}

.history-record-input-text {
    color: var(--var-translator-fc);
}

.history-record-output-text {
    color: var(--var-history-header-fc);
}


/* Подвал */
.footer {
    background-color: #f3c61e;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 1280px;
    margin: 0 auto;
    padding: 5px 10px;
}

.footer-wrapper p {
    color: #e10455;
    font-weight: 500;
}

.footer-wrapper a {
    text-decoration: underline;
}

