/* Переменные для смены темы */
:root {
    --var-body-bg: #f1f6f9;
    --var-header-bg: #ffffff;
    --var-header-bd: #dee4e7;
    --var-translator-fc: #222c31;
    --var-active-button: #f7f9f9;
}

.dark {
    --var-body-bg: #143447;
    --var-body-fc: ;
}

/*Обнуление стилей браузеров.
  Значения по умолчанию*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: 100%;
    width: 100%;
    line-height: 1;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: "Consolas", serif;
    font-weight: 400;
    font-style: normal;
    background: var(--var-body-bg);
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/* Заголовок */
.header {
    background-color: var(--var-header-bg);
    border-bottom: 1px solid var(--var-header-bd);
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1280px;
    width: auto;
    padding: 10px 10px;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 5px
}

.header-logo img {
    width: 36px;
    height: 36px;
}

.header-logo p {
    font-size: 18px;
    color: #e10455;
    font-weight: 700;
}

.header-site-theme img {
    width: 28px;
    height: 28px;
    cursor: pointer;
    transition: transform .5s linear;
}

/* Анимация кнопки смены темы */
.header-site-theme img:hover {
    transform: translateY(20%);
}

.header-site-theme button {
    background: transparent;
}

.site-theme-light {
    display: none;
}

/* Контент часть */
main {
    flex: 1 1 auto;
}

/* Форма перевода текста */
.translator {
    margin: 0 auto;
    max-width: 1280px;
    width: auto;
}

.translator-selection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: var(--var-header-bg);
    border-bottom: 1px solid var(--var-header-bd);
}

.translator-selection button {
    background: transparent;
}

.selection-input-language-wrapper,
.selection-output-language-wrapper {
    position: relative;
}

.selection-input-language-list,
.selection-output-language-list {
    padding: 5px 0;
    font-size: 16px;
    border-radius: 6px;
    background-color: var(--var-header-bg);
}

.selection-input-language-list option,
.selection-output-language-list option {
    font-size: 16px;
    font-weight: 100;
    color: var(--var-translator-fc);
    background-color: var(--var-header-bg);
}

.selection-swap-languages {
    border-radius: 6px;
}

.selection-input-language-list:hover,
.selection-output-language-list:hover,
.selection-swap-languages:hover {
    background-color: var(--var-active-button);
}

.translator-fields textarea {
    overflow: hidden;
    resize: none;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 15px;
    font-size: 24px;
    color: var(--var-translator-fc);
}